<app-cabecera></app-cabecera>
<app-alerts></app-alerts>

<br>
<button type="button" (click)="DescargarPDF()" style="margin-left: 40%;" class='boton'>Descargar PDF</button>
<button type="button" (click)="download()" style="margin-left: 2%;" class='boton'>Descargar Excel</button>
<ngx-spinner ></ngx-spinner>
<table class="table table-condensed"> 
        <thead>
            <tr>
                <th><font color="3a7999" size="3">Origen</font></th>
                <th><font color="3a7999" size="3">Destino</font></th>
                <th><font color="3a7999" size="3">Fecha</font></th>
                <th><font color="3a7999" size="3">Hora</font></th>
                <th><font color="3a7999" size="3">Prestacion</font></th>
                <th><font color="3a7999" size="3">remisero</font></th>
                <th><font color="3a7999" size="3">Estado</font></th>
                <th><font color="3a7999" size="3">Medio de pago</font></th>
                <th><font color="3a7999" size="3">Monto</font></th>
            </tr>
          </thead>
      <tbody>
        <tr  appEstado [estado]=item.estado *ngFor="let item of misviajes"> 
            <td><font color="3a7999" size="3">{{item.origen}} </font></td>        
            <td><font color="3a7999" size="3">{{item.destino}} </font></td>
            <td><font color="3a7999" size="3">{{item.fecha}} </font></td>
            <td><font color="3a7999" size="3">{{item.hora}} </font></td>
            <td><font color="3a7999" size="3">{{item.prestacion}} </font></td>
            <td><font color="3a7999" size="3">{{item.nombreremisero}} </font></td>
            <td><font color="3a7999" size="3">{{item.estado}} </font></td>
            <td><font color="3a7999" size="3">{{item.mediopago}} </font></td>    
            <td><font color="3a7999" size="3">{{item.monto | precio:1}} </font></td>        
        </tr>  
      </tbody> 
    </table>
<br> 
<br>
<app-footer></app-footer>