<app-cabecera></app-cabecera>
<app-alerts></app-alerts>
<ngx-spinner size="large"></ngx-spinner>
<table class="table table-condensed"> 
        <thead>
            <tr>
                <th><font color="3a7999" size="3">Origen</font></th>
                <th><font color="3a7999" size="3">Destino</font></th>
                <th><font color="3a7999" size="3">Fecha</font></th>
                <th><font color="3a7999" size="3">Hora</font></th>
                <th><font color="3a7999" size="3">Prestacion</font></th>
                <th><font color="3a7999" size="3">Nivel</font></th>
                <th><font color="3a7999" size="3">Remisero</font></th>
                <th><font color="3a7999" size="3">Asignar</font></th>
            </tr>
          </thead>
      <tbody>
            <tr *ngFor="let item of misviajes"> 
                  <td><font color="3a7999" size="3">{{item.origen}} </font></td>        
                  <td><font color="3a7999" size="3">{{item.destino}} </font></td>
                  <td><font color="3a7999" size="3">{{item.fecha}} </font></td>
                  <td><font color="3a7999" size="3">{{item.hora}} </font></td>
                  <td><font color="3a7999" size="3">{{item.prestacion}} </font></td>
                  <td><font color="3a7999" size="3">{{item.nivel}} </font></td>
                  <td >
                    <select class="form-control"  style="width:350px" id="{{item.id}}" >
                            <option value="" disabled selected>Seleccione Remisero..</option>   
                        <option *ngFor="let j of remiserosCombo"
                            [value]="j.id">{{j.nombre}}</option>
                    </select>
                 </td>
                  <td><button type="button" (click)="Asignar(item.id)" class='boton'>Asignar Remisero</button> </td>              
               
            </tr>  
      </tbody> 
    </table>
<app-footer></app-footer>
