<nav class="navbar navbar-dark bg-dark ">
<!-- <nav class="navbar navbar-dark bg-dark mb-5"> -->
    <!-- <div class="container-fluid" style="width:40%">
        <div >
          <img src="../../../assets/newcar.jpg" alt="Logo" style="width:35%;">
        </div>
    </div> -->
  <a  align="left" style="width:35%">
     <img src="../../../assets/newcar.jpg" alt="Logo" style="width:35%;height:60%">
  </a>
  <div class="navbar-expand md-auto" align="right">
    <div class="navbar-nav" >
      <a class="nav-item nav-link active" routerLink="/principal">Home</a>
      <a [hidden]="asignarViajes" class="nav-item nav-link" routerLink="/asignarViajes">Asignar viajes</a>
      <a [hidden]="pedido" class="nav-item nav-link" routerLink="/pedido">Solicitar viaje</a>
      <a [hidden]="habilitaciones" class="nav-item nav-link" routerLink="/habilitaciones">Habilitaciones</a>
      <a [hidden]="habilitaciones" class="nav-item nav-link" routerLink="/altas">Altas</a>
      <a [hidden]="habilitaciones" class="nav-item nav-link" routerLink="/asignarVehiculo">Asignar Vehiculo</a>
      <a [hidden]="todos" class="nav-item nav-link" routerLink="/todos">Todos los viajes</a>
      <a [hidden]="remiseroviajes" class="nav-item nav-link" routerLink="/remiseroviajes">Viajes pendientes</a>
      <a [hidden]="habilitaciones" class="nav-item nav-link" routerLink="/estadisticas">Estadisticas</a>
      <a [hidden]="remiseroviajes" class="nav-item nav-link" routerLink="/todosMisViajes">Todos mis viajes</a>
      <a class="nav-item nav-link" routerLink="">Salir</a>
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>

</nav>